<h1>Introduce tu email para restablecer tu contraseña</h1>
<app-notificaciones [mensajeNotificacion]="mensajeNotificacion" [hidden]="mostrarNotificacion" (mostrarNotificacion)="ocultarNotificacion($event)"></app-notificaciones>

<form [formGroup]="formularioResetClave" (ngSubmit)="validarDatosResetClave()">
    <div class="formField" [class.invalid]="!formularioResetClave.get('email').valid && formularioResetClave.get('email').dirty">
        <input type="email" placeholder="Introduce tu email" formControlName="email">
    </div>
    <button type="submit">Resetear Contraseña</button>
</form>