<main id="mainContainerTareasCompletadas">
    <div class="topPart">
        <h2>Tareas completadas</h2>
        <button id="ordenarButton">Ordenar <!-- <img src="../../assets/images/ordenar.svg" alt=""> --> <i class="fas fa-long-arrow-alt-down"></i></button>
    </div>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor, consequatur velit. Dolor aliquam ratione cumque laboriosam quisquam soluta facere laudantium eaque in aspernatur rem facilis, impedit, maxime debitis libero numquam.</p>
    <p>Temporibus enim hic, veritatis pariatur iste iusto magnam, necessitatibus sit officiis sequi ad, natus consequuntur quos? Odio modi ad exercitationem molestias enim, quod temporibus ut nesciunt tenetur cupiditate iure eveniet?</p>
    <p>Quidem, modi maxime. Earum veritatis nisi ab accusantium, facere quibusdam obcaecati repellendus, laudantium animi recusandae iure assumenda facilis nobis totam in omnis magni maxime qui. Aliquid ipsam mollitia ullam qui!</p>
    <p>Nisi dolores et vel soluta, quasi placeat sed facilis dignissimos quis perferendis laborum cumque doloremque animi est quaerat a tempora, temporibus nesciunt! Molestias veritatis non vitae voluptatum doloremque! Reprehenderit, culpa.</p>
</main>