//Colores Light Theme
$primaryColor: #4f25f3;
$textColor: #272727;
$grayColor: #e8ecee;
$whiteColor: #ffffff;
$azulOscuro: #0b0f32;
$azulClaro: #e8f4fd;
$cGrey:#cccccc;
div.overlayPopupTask {
    display: none;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: -80px;
    left: 0;
    background-color: rgba(39, 50, 64, .6);
    z-index: 999;
    align-items: flex-start;
    justify-content: center;
    padding-top: 100px;
    .containerTarea {
        background: $whiteColor;
        width: 600px;
        height: 550px;
        border-radius: 6px;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
        border-top: 1px solid #e8ecee;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 15px 25px;
            border-radius: 6px 6px 0 0;
            border-bottom: 1px solid #e8ecee;
            h2 {}
            i {
                font-size: 20px;
                cursor: pointer;
                color: #777777;
            }
        }
        .middle {
            overflow-y: auto;
            overflow-x: hidden;
            &::-webkit-scrollbar {
                width: 10px;
            }
            &::-webkit-scrollbar-thumb {
                background-color: #555555;
                background-clip: padding-box;
                border: 2px solid #242d4200;
                border-radius: 30px;
            }
            .field {
                margin: 0px 25px;
                padding: 10px 0;
                .containerField {
                    width: 100%;
                    border: 1px solid #e8ecee;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-radius: 6px;
                    transition: all .1s;
                    i {
                        margin: 10px;
                        background: #e8ecee;
                        color: $whiteColor;
                        padding: 4px;
                        border-radius: 4px;
                        font-size: 12px;
                        transition: all .1s;
                        &.active {
                            background-color: $textColor;
                        }
                    }
                    input {
                        width: 100%;
                        height: 100%;
                        background: transparent;
                        font-weight: 700;
                        border: none;
                        outline: 0;
                        padding: 10px 0;
                        font-size: 15px;
                        color: #333333;
                        font-family: 'Nunito', sans-serif;
                        &::placeholder {
                            font-size: 14px;
                            font-family: 'Nunito', sans-serif;
                            color: #cccccc;
                        }
                    }
                    &.active {
                        border-color: rgb(92, 53, 250);
                        box-shadow: 0 1px 3px 0 rgba(92, 53, 250, 0.1), 1px 2px 3px 0 rgba(92, 53, 250, 0.06);
                    }
                }
                textarea {
                    width: 100%;
                    height: 80px;
                    background: transparent;
                    border: 1px solid #e8ecee;
                    color: #333333;
                    border-radius: 6px;
                    transition: all .1s;
                    padding: 8px 15px;
                    font-size: 14px;
                    outline: 0;
                    font-family: 'Nunito', sans-serif;
                    font-weight: 700;
                    resize: none;
                    &::placeholder {
                        font-family: 'Nunito', sans-serif;
                        color: #cccccc;
                    }
                    &:focus {
                        border-color: rgb(92, 53, 250);
                        box-shadow: 0 1px 3px 0 rgba(92, 53, 250, 0.1), 1px 2px 3px 0 rgba(92, 53, 250, 0.06);
                    }
                    &::-webkit-scrollbar {
                        width: 10px;
                    }
                    &::-webkit-scrollbar-thumb {
                        background-color: #555555;
                        background-clip: padding-box;
                        border: 2px solid #242d4200;
                        border-radius: 30px;
                    }
                }
                h4 {
                    margin-bottom: 8px;
                }
                small {
                    color: #777777;
                    font-size: 13px;
                }
                .peopleContainer {
                    display: flex;
                    align-items: center;
                    border: 1px solid #e8ecee;
                    width: 100%;
                    min-width: 320px;
                    padding: 10px;
                    border-radius: 6px;
                    overflow-x: auto;
                    position: relative;
                    .sharePerson {
                        min-width: fit-content;
                        display: flex;
                        align-items: center;
                        font-size: 14px;
                        margin-right: 10px;
                        border: none;
                        background: rgb(112, 118, 156);
                        color: rgb(255, 255, 255);
                        border-radius: 30px;
                        cursor: pointer;
                        outline: 0px;
                        padding: 3px 6px 3px 4px;
                        i {
                            color: #565B78;
                            font-size: 17px;
                            margin-left: 8px;
                            transition: all .1s;
                            &:hover {
                                color: $whiteColor;
                            }
                        }
                    }
                    button {
                        min-width: fit-content;
                        border: none;
                        background: #F0F1F8;
                        color: #72789D;
                        border-radius: 5px;
                        cursor: pointer;
                        outline: 0;
                        padding: 10px;
                        font-weight: 700;
                        transition: all .1s;
                        i {
                            margin-right: 8px;
                        }
                        &:hover {
                            background: #d5d8ec;
                            color: #4f5783;
                        }
                    }
                    &::-webkit-scrollbar {
                        width: 1px;
                    }
                    &::-webkit-scrollbar-thumb {
                        background-color: #464d61;
                        background-clip: padding-box;
                        border: 4px solid #242d4200;
                        border-radius: 30px;
                    }
                    #popupAdd {
                        display: none;
                        position: absolute;
                        z-index: 99;
                        left: 0;
                        width: 100%;
                        border-radius: 4px;
                        padding: 6px;
                        background: #ffffff;
                        input {
                            flex: 1;
                            padding: 10px;
                            border-radius: 3px;
                            border: none;
                            margin-right: 6px;
                            outline: 0;
                            /* border: 1px solid #cccccc; */
                            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
                        }
                        button.agregarPersonaButton {
                            background: #4f25f3;
                            color: #ffffff;
                        }
                    }
                    button#addPersonButton {
                        width: 150px;
                        margin-right: 30px;
                    }
                }
                .dates {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    /*  justify-content: space-between; */
                    label {
                        font-size: 14px;
                        font-weight: 700;
                        padding: 6px 15px;
                        cursor: pointer;
                        border-radius: 3px;
                        margin-right: 10px;
                        border: 1px solid #e8ecee;
                        color: grey;
                        transition: all .1s;
                        i {
                            margin-right: 10px;
                            color: #cccccc;
                        }
                        &.active {
                            border-color: $primaryColor;
                            box-shadow: 0 1px 3px 0 rgba(92, 53, 250, 0.1), 1px 2px 3px 0 rgba(92, 53, 250, 0.06);
                            color: $textColor;
                            i {
                                color: $primaryColor;
                            }
                            input {
                                color: $textColor !important;
                            }
                        }
                    }
                    #todayDate,
                    #tomorrowDate,
                    #customDate,
                    #noneDate {
                        display: none;
                    }
                    #labelCustomDate {
                        position: relative;
                        display: flex;
                        align-items: center;
                        font-weight: 700;
                        padding: 6px 15px;
                        height: 35px;
                        cursor: pointer;
                        margin-right: 10px;
                        transition: all .1s;
                        width: 130px;
                        input.inputCustomDate {
                            width: 100%;
                            padding: 6px 0;
                            outline: 0;
                            margin: 0;
                            cursor: pointer;
                            border: none;
                            font-weight: 700;
                        }
                        &.active {
                            border-color: #4f25f3;
                            box-shadow: 0 1px 3px 0 rgba(92, 53, 250, 0.1), 1px 2px 3px 0 rgba(92, 53, 250, 0.06);
                            input {
                                color: #4f25f3 !important;
                            }
                        }
                    }
                    #labelNoneDate {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 0;
                        i {
                            margin: 2px 0;
                            margin-right: 12px;
                        }
                        &.active {
                            color: #FF4136;
                            border-color: #FF4136 !important;
                            i {
                                color: #FF4136 !important;
                            }
                        }
                    }
                    //Custom label active tomorrow
                    #labelTomorrowDate {
                        &.active {
                            color: #14aaf5;
                            border-color: #14aaf5;
                            box-shadow: 0 1px 3px 0 rgba(92, 53, 250, 0.1), 1px 2px 3px 0 rgba(92, 53, 250, 0.06);
                            i {
                                color: #14aaf5;
                            }
                        }
                    }
                    //Custom label active today
                    #labelTodayDate {
                        &.active {
                            color: #00bf9c;
                            border-color: #00bf9c;
                            box-shadow: 0 1px 3px 0 rgba(92, 53, 250, 0.1), 1px 2px 3px 0 rgba(92, 53, 250, 0.06);
                            i {
                                color: #00bf9c;
                            }
                        }
                    }
                }
            }
            .moreOptions {
                display: flex;
                align-items: center;
                width: 50%;
                margin: 15px 5px;
                cursor: pointer;
                i {
                    margin: 0 15px 0 20px;
                    font-size: 14px;
                    cursor: pointer;
                    transition: all .1s ease-in;
                    &.active {
                        transform: rotate(90deg);
                    }
                }
                hr {
                    flex: 1;
                    border-top: 1px solid #cccccc;
                    margin-right: 20px;
                }
            }
            .moreOptionsContainer {
                display: none;
                transition: all .2s;
                &.active {
                    display: flex;
                }
            }
            div#moreOptionsContainer2 {
                width: 100%;
            }
        }
        .bottom {
            display: flex;
            justify-content: flex-end;
            padding: 10px 25px;
            border-top: 1px solid #e8ecee;
            button {
                border: none;
                background: #5C35FA;
                color: $whiteColor;
                border-radius: 5px;
                cursor: pointer;
                outline: 0;
                padding: 10px 30px;
                font-weight: 700;
                &:hover {
                    background: #4f25f3;
                }
            }
        }
    }
    /* Tooltip */
    .tooltip {
        position: relative;
        display: inline-block;
        .tooltiptext {
            visibility: hidden;
            width: 120px;
            background-color: black;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
            position: absolute;
            z-index: 1;
            bottom: 150%;
            left: 50%;
            margin-left: -60px;
            &::after {
                content: "";
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: black transparent transparent transparent;
            }
        }
        &:hover {
            .tooltiptext {
                visibility: visible;
            }
        }
    }
    &.open {
        display: flex;
    }
}