/* COLORS */

$primaryColor:
/* #0049b7 */

#5C35FA;
$textColor: #272727;
$grayColor: #a9a9a9;
$whiteColor: #ffffff;
#container {
    /* max-width: 1200px; */
    margin: auto;
    display: flex;
    min-height: 100vh;
    .left {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url('../../assets/images/dot-grid.png');
        a.logo {
            display: none;
            margin: 10px auto;
            text-decoration: none;
            color: $textColor;
            font-size: 40px;
            font-weight: 900;
        }
        .title {
            margin-bottom: 10px;
            font-size: 40px;
            color: $textColor;
            @media (max-width: 576px) {
                font-size: 30px;
            }
            @media (max-width: 285px) {
                font-size: 20px;
            }
        }
        .googleButton {
            font-family: "Nunito", sans-serif;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15px;
            width: 60%;
            border-radius: 4px;
            border: none;
            background: $whiteColor;
            font-weight: bold;
            text-align: center;
            font-size: 14px;
            cursor: pointer;
            outline: 0;
            color: $textColor;
            margin-top: 20px;
            transition-duration: .2s;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
            img {
                width: 18px;
                height: 18px;
                margin-right: 10px;
            }
            @media (min-width: 2000px) {
                width: 40%;
            }
            @media (max-width: 768px) {
                width: 90%;
            }
            &:hover {
                background: #ccc;
            }
        }
        .separator {
            width: 60%;
            justify-content: space-between;
            display: flex;
            align-items: center;
            margin: 40px auto;
            color: $grayColor;
            @media (min-width: 2000px) {
                width: 40%;
            }
            @media (max-width: 768px) {
                width: 90%;
                margin: 30px auto;
            }
            hr {
                width: 25%;
                border: none;
                border-top: 1px solid $grayColor;
                @media (max-width: 576px) {
                    width: 15%;
                }
            }
            span {
                text-transform: uppercase;
                font-size: 12px;
                font-weight: bold;
                letter-spacing: 1px;
                @media (max-width: 576px) {
                    font-size: 10px;
                }
                @media (max-width: 280px) {
                    font-size: 8px;
                }
            }
        }
        #formularioLogin {
            width: 60%;
            @media(min-width: 2000px) {
                width: 40%;
            }
            @media (max-width: 200px) {
                width: 40%;
            }
            @media (max-width: 768px) {
                width: 90%;
            }
            .formField {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                width: 100%;
                border-radius: 2px;
                background: $whiteColor;
                margin: 12px 0;
                border: 1px solid #e5e8ed;
                // box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
                -webkit-appearance: none;
                &.valid {
                    border: 1px solid #2ecc40;
                    &::after {
                        content: "\f00c";
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                        color: #2ecc40;
                    }
                }
                &.invalid {
                    border: 1px solid #ff4136 !important;
                    &::after {
                        content: "\f06a";
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                        color: #ff4136;
                    }
                }
                &.focused {
                    border-color: $primaryColor;
                    input {
                        &::placeholder {
                            color: $textColor;
                        }
                    }
                }
                input {
                    font-family: inherit;
                    background: transparent;
                    border: none;
                    border-radius: 2px;
                    width: 93%;
                    padding: 15px;
                    font-weight: bold;
                    font-size: 15px;
                    color: $textColor;
                    outline: 0;
                    transition: all 0.1s;
                    &::placeholder {
                        font-size: 14px;
                        /* color: $textColor; */
                    }
                    @media (max-width: 576px) {
                        padding: 12px;
                        font-size: 14px;
                    }
                }
            }
            button[type="submit"] {
                font-family: inherit;
                justify-content: center;
                cursor: pointer;
                background-color: $primaryColor;
                color: $whiteColor;
                border: none;
                padding: 15px;
                font-size: 15px;
                outline: 0;
                border-radius: 4px;
                box-shadow: 0 0 8px rgba(59, 43, 91, 0.3);
                margin-top: 20px;
                transition: all .1s;
                i {
                    margin-left: 10px;
                    transition: all 0.2s;
                }
                &:hover {
                    background: #4016e7;
                    i {
                        margin-left: 20px;
                    }
                }
            }
            .loginOptions {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 30px auto;
                @media (max-width: 576px) {
                    font-size: 12px;
                }
                .keepSesion {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    input {
                        margin-right: 10px;
                    }
                    label {
                        cursor: pointer;
                    }
                }
                a {
                    color: $textColor;
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
        .separator2 {
            border: 0;
            border-top: 1px solid $grayColor;
            margin: 20px auto;
            width: 60%;
            @media (max-width: 768px) {
                width: 90%;
                margin: 15px auto;
            }
            @media (min-width: 2000px) {
                width: 30%;
            }
        }
        .linkRegistro {
            color: $grayColor;
            margin-bottom: 15px;
            a {
                margin-left: 10px;
                color: $primaryColor;
                text-decoration: none;
                cursor: pointer;
                &:hover {
                    color: #4016e7;
                }
            }
            @media (max-width: 768px) {
                font-size: 14px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }
    .right {
        background-color: #490c52;
        flex: 1;
        background-repeat: no-repeat;
        background-size: cover;
        @media (max-width: 1200px) {
            display: none;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .container {
            margin: 0 auto;
            text-align: center;
            font-family: 'Poppins', sans-serif;
            color: $whiteColor;
            h1 {
                font-size: 46px;
                font-weight: 700;
                font-family: inherit;
                max-width: 550px;
            }
            p {
                font-size: 22px;
                font-weight: lighter;
                font-family: inherit;
                max-width: 550px;
            }
            a {
                width: 300px;
                margin: auto;
                padding: 10px 30px;
                text-decoration: none;
                border: 2px solid transparent;
                border-radius: 3px;
                background: $whiteColor;
                font-family: inherit;
                font-size: 16px;
                color: $primaryColor;
                margin-top: 30px;
                display: block;
                outline: none;
                cursor: pointer;
                &:hover {
                    background: rgba(255, 255, 255, .9);
                }
            }
        }
    }
}