.container {
    display: flex;
    align-items: center;
    padding: 6px 16px;
    font-size: 14px;
    line-height: 1.43;
    border-radius: 4px;
    justify-content: space-between;
    width: max-content;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    font-weight: bold;
    z-index: 99;
    animation-duration: 0.3s;
    .text {
        display: flex;
        align-items: center;
        i {
            display: flex;
            opacity: 0.9;
            padding: 7px 0;
            font-size: 22px;
            margin-right: 12px;
        }
    }
    .closeIcon {
        margin-left: 12px;
        margin-right: 0;
        font-size: 15px;
        cursor: pointer;
    }
    //Clase para errores
    &.error {
        color: #611a15;
        background-color: rgb(253, 236, 234);
        .text {
            i {
                color: #f44336;
            }
        }
        .closeIcon {
            color: #611a15;
        }
    }
    &.success {
        color: #1e4620;
        background-color: #edf7ed;
        .text {
            i {
                color: #4caf50;
            }
        }
        .closeIcon {
            color: #1e4620;
        }
    }
}