<header>
    <nav>
        <div class="topPart">
            <div class="logoPart">
                <a routerLink="/home">HUBBET</a>
                <button><i class="fas fa-plus"></i><label>Añadir Tarea</label></button>
            </div>
            <div class="menu">
                <ul>
                    <li>
                        <a><img src="../../assets/images/shop.svg" alt=""> <label>Dashboard</label></a>
                    </li>
                    <li class="misTareasButton">
                        <a>
                            <div class="left">
                                <img src="../../assets/images/list.svg" alt="">
                                <label>Mis Tareas</label>
                            </div>
                            <label class="taskCount">4</label>
                        </a>
                    </li>
                    <li>
                        <a><img src="../../assets/images/comprobado.svg" alt=""><label>Tareas Completadas</label></a>
                    </li>
                    <!-- <li>
                        <a href="#0"><img src="../../assets/images/comprobado.svg" alt=""><label>Tareas Completadas</label></a>
                    </li>
                    <li>
                        <a href="#0"><img src="../../assets/images/comprobado.svg" alt=""><label>Tareas Completadas</label></a>
                    </li> -->
                </ul>
            </div>
        </div>
        <div class="bottomPart">
            <hr>
            <a><img src="../../assets/images/configuraciones.svg" alt=""><label>Ajustes</label></a>
            <a><img src="../../assets/images/usuario.svg" alt=""><label>Mi Cuenta</label></a>
        </div>
    </nav>
</header>