<header id="sideBarMenu">
    <nav>
        <div class="topPart">
            <div class="logoPart">
                <a routerLink="/home">Hubbet</a>
                <a id="closeMenuIcon"><img src="../../assets/images/menu.svg" alt="" loading="lazy"></a>
            </div>
            <div class="menu">
                <ul>
                    <li>
                        <a class="addTareaButtonHeader" id="addTareaButtonHeader"><img src="../../assets/images/anadir.svg" alt=""> Añadir tarea</a>
                    </li>
                    <li>
                        <a class="menuItem active" routerLink="/home" (click)="toggleClass($event)"><img src="../../assets/images/burguer.svg" alt="" loading="lazy" class="child"> <label class="child">Dashboard</label></a>
                    </li>
                    <li>
                        <a class="menuItem" routerLink="completadas" (click)="toggleClass($event)"><img src="../../assets/images/checkMenu.svg" alt="" loading="lazy" class="child"><label class="child">Tareas Completadas</label></a>
                    </li>
                </ul>
            </div>
            <div class="preCloseSession">
                <img src="../../assets/images/checklist_.svg" alt="" loading="lazy">
                <small>¡Empieza ahora creando nuevas tareas!</small>
            </div>
        </div>
        <div class="bottomPart">
            <hr>
            <button (click)="cerrarSesionFunction()"><label>Cerrar sesión</label><img src="../../assets/images/close.svg" alt="" loading="lazy"></button>
        </div>
    </nav>
</header>
<a id="openMenuIcon"><img src="../../assets/images/menu-abierto.svg" alt="" loading="lazy"></a>

<!-- Menú horizontal con el buscador y los ajustes del perfil del usuario -->
<nav id="horizontalMenu">
    <ul>
        <li class="containerBox">
            <div id="inputSearch"><img src="../../assets/images/buscar.svg" alt="" loading="lazy"><input type="text" placeholder="Buscar" (keyup)="searchTask()"></div>
            <ul id="searchBoxResult"></ul>
        </li>
        <li><a class="noCloseMenu">{{ nombre }}<img class="noCloseMenu" [src]="imagen" alt="" loading="lazy"></a></li>
    </ul>
    <div id="dropDownMenu">
        <ul>
            <li>
                <a id="profileSettingsButton">Ajustes de mi perfil</a>
            </li>
            <li class="noCloseMenu">
                <a class="noCloseMenu" (click)="cerrarSesionFunction()">Cerrar sesión</a>
            </li>
        </ul>
    </div>
</nav>
<!-- FIN Menú horizontal con el buscador y los ajustes del perfil del usuario -->

<!-- POPUP MENÚ DESPLEGABLE AJUSTES PERFIL USUARIO -->
<div class="overlayPopupProfileSettings">

    <!-- Llamamos al componente de notificaciones -->
    <app-notificaciones [statusNotificacion]="statusNotificacion" [iconoNotificacion]="iconoNotificacion" [mensajeNotificacion]="mensajeNotificacion" [hidden]="mostrarNotificacion" (mostrarNotificacion)="ocultarNotificacion($event)" style="position: absolute; margin-top: 10px;"></app-notificaciones>

    <div id="popupProfileSettings">
        <div class="top">
            <div class="close">
                <h2>Ajustes de mi perfil</h2>
                <i class="fas fa-times" id="closeButtonOverlay"></i>
            </div>
            <ul class="menu">
                <li>
                    <a class="tablink active" (click)="openTab('tab1')">Perfil</a>
                </li>
                <li>
                    <a class="tablink" (click)="openTab('tab2')">Seguridad</a>
                </li>
                <li>
                    <a class="tablink" (click)="openTab('tab3')">Equipo</a>
                </li>
                <li>
                    <a class="tablink" (click)="openTab('tab4')">Pantalla</a>
                </li>
            </ul>
            <hr>
        </div>
        <div class="middle">
            <div id="tab1" class="tabContent">
                <div class="fotoPerfil">
                    <p class="title">Tu foto</p>
                    <form class="fotoform" method="POST" enctype="multipart/form-data" id="formCambiarFoto" [formGroup]="formGroup">
                        <label for="fileField" id="fakeFotoLabel">
                            <img [src]="imagen" alt="" id="profileFoto" loading="lazy">

                            <!-- Preloader -->
                            <div class="pswp__preloader__icn" id="preloader">
                                <div class="pswp__preloader__cut">
                                    <div class="pswp__preloader__donut"></div>
                                </div>
                            </div>
                        </label>
                        <input type="file" name="fileField" id="fileField" (change)="onFileChange($event)">
                        <div class="text">
                            <div class="textDetail">
                                <label for="fileField">
                                    <a>Subir una foto nueva</a>
                                </label>
                                <div class="separator"></div>
                                <a id="removeImage" (click)="eliminarImagen()">Quitar foto</a>
                            </div>
                            <p>Las fotos ayudan a que tus compañeros de equipo te reconozcan en Hubbet</p>
                        </div>
                    </form>
                </div>

                <form class="containerDatosPerfil" method="POST" [formGroup]="formularioDatosExtra" (ngSubmit)="validarDatosDatosExtra()" autocomplete="off">
                    <div class="left">
                        <div class="box">
                            <p class="title">Tu nombre completo</p>
                            <input type="text" formControlName="nombre">
                        </div>
                        <div class="box">
                            <p class="title">Ubicación</p>
                            <input type="text" id="ubicacionField" formControlName="ubicacion">
                            <ul id="showData"></ul>
                        </div>
                    </div>
                    <div class="right">
                        <div class="box">
                            <p class="title">Rol</p>
                            <input type="text" formControlName="rol">
                        </div>
                        <div class="box">
                            <p class="title">Departamento o equipo</p>
                            <input type="text" formControlName="equipo" readonly style="background: lightgrey;">
                        </div>
                    </div>
                    <div class="box description">
                        <p class="title">Acerca de mí</p>
                        <textarea formControlName="descripcion"></textarea>
                    </div>
                    <div class="bottom">
                        <button type="submit">Guardar cambios</button>
                    </div>
                </form>
            </div>
            <div id="tab2" class="tabContent">
                <form class="cambiarClaveForm" method="POST" [formGroup]="formularioCambiarClave" (ngSubmit)="validarDatosCambiarClave()" autocomplete="off">
                    <div class="container">
                        <p>Contraseña</p>
                        <div class="box">
                            <p class="title">Contraseña actual</p>
                            <input type="password" formControlName="claveActual">
                        </div>
                        <div class="box">
                            <p class="title">Nueva contraseña</p>
                            <input type="password" formControlName="claveNueva" [class.invalid]="!formularioCambiarClave.get('claveNueva').valid && formularioCambiarClave.get('claveNueva').dirty">
                        </div>
                        <div class="box">
                            <p class="title">Confirma nueva contraseña</p>
                            <input type="password" formControlName="claveNuevaDos" [class.invalid]="!formularioCambiarClave.get('claveNuevaDos').valid && formularioCambiarClave.get('claveNuevaDos').dirty">
                        </div>
                    </div>
                    <span *ngIf="formularioCambiarClave.hasError('notSame')">
                        Las contraseñas no coinciden!
                    </span>
                    <div class="bottom">
                        <button type="submit" [disabled]="formularioCambiarClave.invalid">Actualizar contraseña</button>
                    </div>
                </form>
            </div>
            <div id="tab3" class="tabContent">

                <!-- Se muestra si no tiene equipo -->
                <div class="container" *ngIf="!data.equipo">
                    <div class="top">
                        <div class="buttonGroup">
                            <button (click)="openTabTeam('joinTeam')">Unirse a equipo</button>
                            <button (click)="openTabTeam('createTeam')">Crear equipo</button>
                        </div>
                    </div>
                    <div class="bottom">
                        <form method="POST" class="right tab" id="joinTeam" style="display: none;" [formGroup]="formularioUnirseEquipo" (ngSubmit)="unirseEquipo()" autocomplete="off">
                            <h3>Únete a un equipo</h3>
                            <small>Únete a un grupo y podrás asignar tareas a los miembros de tu quipo.</small>
                            <div class="inline">
                                <div class="box">
                                    <input type="text" placeholder="Introduce el nombre del equipo" formControlName="unirseEquipoField" id="unirseEquipoField" (keyup)="buscarEquipo()">
                                    <ul id="dropDownSearchTeam"></ul>
                                </div>
                                <button type="submit" class="disabled" disabled>Únete al equipo</button>
                            </div>
                        </form>
                        <form method="POST" class="left tab" id="createTeam" style="display: none;" [formGroup]="formularioCrearEquipo" (ngSubmit)="validarDatosCrearEquipo()">
                            <h3>Crea un equipo</h3>
                            <small>Crea un grupo y podrás asignar tareas a los miembros de tu quipo.</small>
                            <div class="inline">
                                <div class="box">
                                    <input type="text" placeholder="Introduce un nombre para el equipo" formControlName="crearEquipoField">
                                </div>
                                <button type="submit" (click)="obtenerDatosEquipo(data.token)">Crear equipo</button>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- Se muestra si tiene equipo -->
                <div class="equipoData" *ngIf="data.equipo">
                    <div class="container">
                        <div class="top" style="background: url(../../assets/teams/{{imagenEquipo}});">
                            <div class="left">
                                <div class="data">
                                    <h2 id="teamName"> {{ nombreEquipo }} </h2>
                                    <p class="date">Creado el {{ creacionEquipo }} </p>
                                </div>
                                <p id="teamDescription"> {{ descripcionEquipo }}</p>
                            </div>
                            <div class="right">
                                <div class="edit">
                                    <i class="fas fa-pen" *ngIf="adminEquipo" (click)="changeEditButton()" id="buttonEditDataTeam"></i>
                                    <button id="confirmEditDataTeam" (click)="editarDatosEquipo()"><i class="fas fa-check"></i>Guardar</button>
                                </div>
                                <button (click)="abandonarEquipo(data.token)">Abandonar el equipo</button>
                            </div>
                            <div class="overlay"></div>
                        </div>
                        <div class="bottom">
                            <h4>Miembros del equipo ({{ usersCountEquipo }})</h4>
                            <ul class="miembros">
                                <li *ngFor="let item of usersDataEquipo">
                                    <div class="item">
                                        <img src="../../assets/uploads/{{ item.usuario }}/{{ item.imagen }}" alt="" loading="lazy">
                                        <p>{{ item.usuario }}</p>
                                        <label class="admin" *ngIf="item.admin">Administrador</label>
                                        <small>{{ item.email }}</small>
                                    </div>
                                    <div *ngIf="!item.admin">
                                        <i class="fas fa-minus-circle" *ngIf="adminEquipo" title="Eliminar usuario" (click)="deleteUser($event, item.id)"></i>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab4" class="tabContent">
                <!-- <div class="container">
                    <h3>Selecciona un tema</h3>
                    <div class="themeContainer">
                        <label for="tema1" class="tema">
                        <p style="border-color: #4f25f3; color: #4f25f3;">Por defecto</p>
                        <input type="radio" name="temas" id="tema1" checked>
                    </label>
                        <label for="tema2" class="tema">
                        <p style="border-color: #3D9970; color: #3D9970;">Verde</p>
                        <input type="radio" name="temas" id="tema2">
                    </label>
                        <label for="tema3" class="tema">
                        <p style="border-color: #FF851B; color: #FF851B;">Naranja</p>
                        <input type="radio" name="temas" id="tema3">
                    </label>
                        <label for="tema4" class="tema">
                        <p style="border-color: #FF4136; color: #FF4136;">Rojo</p>
                        <input type="radio" name="temas" id="tema4">
                    </label>
                    </div>
                </div> -->
            </div>
        </div>

    </div>
</div>
<!-- FIN POPUP MENÚ DESPLEGABLE AJUSTES PERFIL USUARIO -->