//Colores Light Theme
$primaryColor: #0049b7;
$textColor: #272727;
$grayColor: #e8ecee;
$whiteColor: #ffffff;
$azulOscuro: #0b0f32;
$azulClaro: #e8f4fd;
$cGrey:#cccccc;
//Colores Dark Theme
html[data-theme="dark"] {
    $primaryColor: #0049b7;
    $textColor: #D8D8D8;
    $grayColor: #171311;
    $whiteColor: #000000;
    $azulOscuro: #F4F0CD;
    $azulClaro: #170B02;
    $cGrey: #333333;
}

app-header {
    display: flex;
}

header {
    min-height: 100vh;
    width: 250px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    background: $whiteColor;
    transition: margin-left 240ms ease-out, transform 240ms ease-out;
    z-index: 999;
    position: relative;
    @media(max-width: 768px) {
        max-width: 80px;
    }
    @media(max-width: 576px) {
        max-width: 70px;
    }
    nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        min-height: 100vh;
        .topPart {
            width: 90%;
            .logoPart {
                margin: 30px auto;
                padding: 0 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                a {
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    font-size: 24px;
                    font-weight: bold;
                    cursor: pointer;
                    color: $azulOscuro;
                    @media(max-width: 768px) {
                        display: none;
                    }
                    img {
                        width: 20px;
                        cursor: pointer;
                    }
                }
                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    margin: 20px auto;
                    padding: 15px 10px;
                    border: none;
                    border-radius: 0 30px 30px 30px;
                    font-family: 'Nunito', sans-serif;
                    font-weight: bold;
                    font-size: 17px;
                    background: $azulClaro;
                    color: $azulOscuro;
                    cursor: pointer;
                    outline: 0;
                    transition: all .1s;
                    @media(max-width: 768px) {
                        width: 80%;
                    }
                    i {
                        font-size: 20px;
                        margin-right: 10px;
                        @media(max-width: 768px) {
                            margin: 0;
                        }
                    }
                    &:hover {
                        background: $primaryColor;
                        color: $whiteColor;
                    }
                    label {
                        cursor: pointer;
                        @media(max-width: 768px) {
                            display: none;
                        }
                    }
                }
            }
            .menu {
                ul {
                    li {
                        list-style: none;
                        a {
                            text-decoration: none;
                            color: $azulOscuro;
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            margin-top: 10px;
                            width: 100%;
                            padding: 10px;
                            border: none;
                            border-radius: 5px;
                            font-family: 'Nunito', sans-serif;
                            font-weight: bold;
                            font-size: 15px;
                            transition: all .07s;
                            position: relative;
                            cursor: pointer;
                            &.active {
                                background: $azulClaro;
                            }
                            img {
                                width: 20px;
                                height: 20px;
                                margin-right: 15px;
                                @media(max-width: 768px) {
                                    margin: 0;
                                }
                            }
                            &:hover {
                                background: $azulClaro;
                                color: $primaryColor;
                            }
                            label {
                                cursor: pointer;
                                @media(max-width: 768px) {
                                    display: none;
                                }
                            }
                            label.taskCount {
                                width: 20px;
                                height: 20px;
                                border-radius: 30px;
                                color: $textColor;
                                background: $azulClaro;
                                display: flex;
                                font-size: 14px;
                                justify-content: center;
                                align-items: center;
                                transition: all .07s;
                                @media(max-width: 768px) {
                                    display: none;
                                }
                            }
                            @media(max-width: 768px) {
                                justify-content: center;
                            }
                        }
                    }
                    .misTareasButton {
                        a {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            .left {
                                display: flex;
                                align-items: center;
                            }
                            @media(max-width: 768px) {
                                justify-content: center;
                            }
                        }
                        &:hover {
                            label.taskCount {
                                background: $azulOscuro;
                                color: $whiteColor;
                            }
                        }
                    }
                }
            }
            .preCloseSession {
                position: absolute;
                bottom: 70px;
                display: flex;
                flex-direction: column;
                align-items: center;
                img {
                    width: 150px;
                    @media(max-width: 768px) {
                        width: 80px;
                        margin: auto;
                    }
                }
                small {
                    max-width: 85%;
                    text-align: center;
                    margin-top: 10px;
                    @media(max-width: 768px) {
                        display: none;
                    }
                }
            }
        }
        .bottomPart {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            hr {
                border: none;
                border-top: 1px solid $cGrey;
            }
            button {
                border: 1px solid $azulOscuro;
                padding: 6px 15px;
                background: none;
                border-radius: 4px;
                margin: 10px;
                cursor: pointer;
                transition: all .1s;
                color: $azulOscuro;
                outline: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover {
                    background-color: rgb(253, 236, 234);
                }
                label {
                    cursor: pointer;
                    @media(max-width: 768px) {
                        display: none;
                    }
                }
                img {
                    width: 20px;
                    height: 20px;
                    display: none;
                    cursor: pointer;
                    @media(max-width: 768px) {
                        display: block;
                    }
                }
                @media(max-width: 768px) {
                    padding: 10px;
                }
            }
        }
    }
    &.active {
        margin-left: -250px;
    }
}

a#openMenuIcon {
    position: absolute;
    top: 37px;
    margin-left: -20px;
    cursor: pointer;
    img {
        width: 20px;
    }
}

nav#horizontalMenu {
    position: absolute;
    top: 30px;
    right: 10px;
    /* background: tomato; */
    width: 83%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    ul {
        /*  background: blue; */
        display: flex;
        align-items: center;
        li {
            list-style: none;
            display: flex;
            align-items: center;
            a {
                text-decoration: none;
                display: flex;
                align-items: center;
                font-weight: 700;
                cursor: pointer;
                font-size: 15px;
                &:hover {
                    color: $azulOscuro;
                }
                img {
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    margin-left: 15px;
                    object-fit: cover;
                    object-position: center;
                }
            }
            #inputSearch {
                margin-right: 30px;
                border: 1px solid #9ba1a3;
                padding: 6px 0;
                display: flex;
                align-items: center;
                transition: margin-left 250ms ease-out, transform 250ms ease-out;
                img {
                    width: 16px;
                    height: 16px;
                    margin: 0 10px;
                }
                input {
                    width: 100%;
                    height: 100%;
                    border: none;
                    background: transparent;
                    outline: 0;
                    font-family: 'Nunito', sans-serif;
                    font-weight: 700;
                    color: $azulOscuro;
                    padding-right: 12px;
                    &::placeholder {
                        font-family: 'Nunito', sans-serif;
                        color: #9ba1a3;
                    }
                }
                border-radius: 20px;
                &.active {
                    width: 400px;
                    transition: all 1s;
                }
            }
        }
    }
    #dropDownMenu {
        visibility: hidden;
        min-width: 250px;
        border-radius: 4px;
        margin-top: 8px;
        background: $whiteColor;
        box-shadow: 0 0 0 1px rgba(111, 119, 130, .15), 0 5px 10px 0 rgba(21, 27, 38, .08);
        //box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
        //box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
        user-select: none;
        z-index: 9999;
        ul {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            li {
                list-style: none;
                width: 100%;
                border-top: 1px solid $grayColor;
                a {
                    text-decoration: none;
                    display: block;
                    padding: 6px 10px;
                    width: 100%;
                    font-size: 14px;
                    font-weight: normal;
                    &:hover {
                        background: $grayColor;
                    }
                }
                &:first-child {
                    border: none !important;
                }
            }
        }
        &.open {
            visibility: visible;
        }
    }
}


/* Estilos popup ajustes perfil */

div.overlayPopupProfileSettings {
    display: none;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(39, 50, 64, .6);
    z-index: 999;
    align-items: flex-start;
    justify-content: center;
    div#popupProfileSettings {
        width: 650px;
        background: $whiteColor;
        margin-top: 70px;
        border-radius: 5px;
        min-height: 30px;
        padding: 10px 0;
        padding-bottom: 0;
        .top {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            .close {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 25px;
                margin: 0;
                margin-bottom: 15px;
                /* background: green; */
                h2 {
                    color: $azulOscuro;
                }
                i {
                    font-size: 18px;
                    cursor: pointer;
                    color: #6f7274;
                    &:hover {
                        color: $azulOscuro;
                    }
                }
            }
            ul.menu {
                display: flex;
                justify-content: flex-start;
                width: 100%;
                /* padding: 0 25px; */
                margin-left: 25px;
                /* border: 2px solid greenyellow; */
                li {
                    list-style: none;
                    /*  border: 1px solid yellow; */
                    a {
                        text-decoration: none;
                        display: block;
                        padding: 8px 0;
                        cursor: pointer;
                        color: grey;
                        font-size: 13px;
                        font-weight: 700;
                        position: relative;
                        transition: all .1s;
                        margin-right: 30px;
                        /*  border: 1px solid red; */
                        border-bottom: 2px solid transparent;
                        &.active {
                            border-bottom: 2px solid $primaryColor;
                            color: $primaryColor;
                            &:hover {
                                color: $primaryColor;
                                border-bottom: 2px solid $primaryColor;
                            }
                        }
                        &:hover {
                            color: $primaryColor;
                            border-bottom: 2px solid $primaryColor;
                        }
                    }
                }
            }
            hr {
                border: none;
                border-top: 1px solid $grayColor;
            }
        }
        .middle {
            .tabContent {
                animation: fadeEffect .5s;
            }
            #tab2,
            #tab3,
            #tab4 {
                display: none;
            }
            #tab1 {
                padding: 25px 25px 0 25px;
                .fotoPerfil {
                    p.title {
                        font-size: 12px;
                        margin-bottom: 10px;
                        color: grey;
                        font-weight: 700;
                    }
                    .fotoform {
                        display: flex;
                        align-items: center;
                        img {
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                            object-fit: cover;
                            cursor: pointer;
                        }
                        .text {
                            display: flex;
                            flex-direction: column;
                            .textDetail {
                                display: flex;
                                align-items: center;
                                a {
                                    color: $primaryColor;
                                    cursor: pointer;
                                    font-size: 14px;
                                    &:hover {
                                        opacity: .9;
                                    }
                                }
                                .separator {
                                    width: 4px;
                                    height: 4px;
                                    border-radius: 50%;
                                    margin: 0 6px;
                                    background: grey;
                                }
                            }
                            p {
                                font-size: 11px;
                                color: #6f7782;
                                margin-top: 3px;
                            }
                        }
                        input#fileField {
                            display: none;
                        }
                        #fakeFotoLabel {
                            width: 45px;
                            height: 45px;
                            border-radius: 50%;
                            cursor: pointer;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin: 0;
                            position: relative;
                            margin-right: 10px;
                        }
                    }
                }
                .containerDatosPerfil {
                    width: 100%;
                    margin-top: 20px;
                    .left,
                    .right {
                        display: flex;
                        justify-content: space-between;
                        flex: 1;
                    }
                    .box {
                        margin-top: 20px;
                        flex: 1;
                        position: relative;
                        p.title {
                            font-size: 12px;
                            margin-bottom: 5px;
                            color: grey;
                            font-weight: 700;
                        }
                        input {
                            width: 100%;
                            border-radius: 3px;
                            border: 1px solid $cGrey;
                            outline: 0;
                            padding: 6px 5px;
                            font-size: 13px;
                            &:focus {
                                border-color: #9ca6af;
                                box-shadow: inset 0 1px $grayColor;
                            }
                        }
                        &:nth-child(2) {
                            margin-left: 20px;
                        }
                        //Lista con las ciudades
                        #showData {
                            display: none;
                            border-radius: 3px;
                            margin-top: 6px;
                            z-index: 99;
                            position: absolute;
                            background: $whiteColor;
                            max-height: 200px;
                            overflow: scroll;
                            overflow-x: hidden;
                            border: 1px solid $cGrey;
                            width: 100%;
                            box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
                            &::-webkit-scrollbar {
                                width: 10px;
                            }
                            &::-webkit-scrollbar-thumb {
                                background-color: #464d61;
                                background-clip: padding-box;
                                border: 2px solid #242d4200;
                                border-radius: 30px;
                            }
                        }
                    }
                    .description {
                        textarea {
                            width: 100%;
                            height: 70px;
                            border-radius: 3px;
                            border: 1px solid $cGrey;
                            outline: 0;
                            padding: 5px;
                            font-size: 13px;
                            resize: none;
                            &:focus {
                                border-color: #9ca6af;
                                box-shadow: inset 0 1px $grayColor;
                            }
                        }
                    }
                }
            }
            @keyframes fadeEffect {
                from {
                    opacity: 0;
                }
                to {
                    opacity: 1;
                }
            }
        }
        .bottom {
            display: flex;
            border-top: 1px solid $grayColor;
            justify-content: flex-end;
            align-items: center;
            padding: 15px 0;
            /*   */
            margin-top: 15px;
            hr {
                width: 100%;
                border: none;
                border-top: 1px solid $grayColor;
            }
            button {
                padding: 8px 10px;
                border: none;
                width: 200px;
                border-radius: 4px;
                color: $whiteColor;
                background: $primaryColor;
                cursor: pointer;
                font-weight: 700;
                outline: 0;
                opacity: .9;
                margin-right: 15px;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
    &.open {
        display: flex;
    }
}

//Preloader CSS
.pswp__preloader__icn {
    display: none;
    opacity: 0.75;
    width: 16px;
    height: 16px;
    -webkit-animation: clockwise 500ms linear infinite;
    animation: clockwise 500ms linear infinite;
    position: absolute;
    z-index: 99;
}

.pswp__preloader__cut {
    position: relative;
    width: 7px;
    height: 14px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.pswp__preloader__donut--fake {
    box-sizing: border-box;
    width: 14px;
    height: 14px;
    border: 2px solid red;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    background: none;
    margin: 0;
}

.pswp__preloader__donut {
    box-sizing: border-box;
    width: 14px;
    height: 14px;
    border: 2px solid #222222;
    border-radius: 50%;
    border-left-color: transparent;
    border-bottom-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    position: absolute;
    top: 0;
    left: 0;
    background: none;
    margin: 0;
    -webkit-animation: donut-rotate 1000ms cubic-bezier(.4, 0, .22, 1) infinite;
    animation: donut-rotate 1000ms cubic-bezier(.4, 0, .22, 1) infinite;
}

@-webkit-keyframes clockwise {
    0% {
        -webkit-transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes clockwise {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

@-webkit-keyframes donut-rotate {
    0% {
        -webkit-transform: rotate(0)
    }
    50% {
        -webkit-transform: rotate(-140deg)
    }
    100% {
        -webkit-transform: rotate(0)
    }
}

@keyframes donut-rotate {
    0% {
        transform: rotate(0)
    }
    50% {
        transform: rotate(-140deg)
    }
    100% {
        transform: rotate(0)
    }
}