$primaryColor: #0049b7;
$textColor: #272727;
$grayColor: #a9a9a9;
$whiteColor: #ffffff;
$azulOscuro: #0b0f32;
$azulClaro: #e8f4fd;
app-header {
    display: flex;
}

header {
    min-height: 100vh;
    width: 250px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    background: $whiteColor;
    transition: margin-left 240ms ease-out, transform 240ms ease-out;
    z-index: 999;
    position: relative;
    @media(max-width: 768px) {
        max-width: 90px;
    }
    @media(max-width: 576px) {
        max-width: 80px;
    }
    nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        min-height: 100vh;
        .topPart {
            width: 90%;
            .logoPart {
                margin: 30px auto;
                padding: 0 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                a {
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    font-size: 24px;
                    font-weight: bold;
                    cursor: pointer;
                    color: $azulOscuro;
                    @media(max-width: 768px) {
                        display: none;
                    }
                    img {
                        width: 20px;
                        cursor: pointer;
                    }
                }
                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    margin: 20px auto;
                    padding: 15px 10px;
                    border: none;
                    border-radius: 0 30px 30px 30px;
                    font-family: 'Nunito', sans-serif;
                    font-weight: bold;
                    font-size: 17px;
                    background: $azulClaro;
                    color: $azulOscuro;
                    cursor: pointer;
                    outline: 0;
                    transition: all .1s;
                    @media(max-width: 768px) {
                        width: 80%;
                    }
                    i {
                        font-size: 20px;
                        margin-right: 10px;
                        @media(max-width: 768px) {
                            margin: 0;
                        }
                    }
                    &:hover {
                        background: $primaryColor;
                        color: $whiteColor;
                    }
                    label {
                        cursor: pointer;
                        @media(max-width: 768px) {
                            display: none;
                        }
                    }
                }
            }
            .menu {
                ul {
                    li {
                        list-style: none;
                        a {
                            text-decoration: none;
                            color: $azulOscuro;
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            margin-top: 10px;
                            width: 100%;
                            padding: 10px;
                            border: none;
                            border-radius: 5px;
                            font-family: 'Nunito', sans-serif;
                            font-weight: bold;
                            font-size: 15px;
                            transition: all .07s;
                            position: relative;
                            cursor: pointer;
                            &.active {
                                background: $azulClaro;
                            }
                            img {
                                width: 20px;
                                height: 20px;
                                margin-right: 15px;
                                @media(max-width: 768px) {
                                    margin: 0;
                                }
                            }
                            &:hover {
                                background: $azulClaro;
                                color: $primaryColor;
                            }
                            label {
                                cursor: pointer;
                                @media(max-width: 768px) {
                                    display: none;
                                }
                            }
                            label.taskCount {
                                width: 20px;
                                height: 20px;
                                border-radius: 30px;
                                color: $textColor;
                                background: $azulClaro;
                                display: flex;
                                font-size: 14px;
                                justify-content: center;
                                align-items: center;
                                transition: all .07s;
                                @media(max-width: 768px) {
                                    display: none;
                                }
                            }
                            @media(max-width: 768px) {
                                justify-content: center;
                            }
                        }
                    }
                    .misTareasButton {
                        a {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            .left {
                                display: flex;
                                align-items: center;
                            }
                            @media(max-width: 768px) {
                                justify-content: center;
                            }
                        }
                        &:hover {
                            label.taskCount {
                                background: $azulOscuro;
                                color: $whiteColor;
                            }
                        }
                    }
                }
            }
            .preCloseSession {
                position: absolute;
                bottom: 70px;
                display: flex;
                flex-direction: column;
                align-items: center;
                img {
                    width: 150px;
                }
                small {
                    max-width: 85%;
                    text-align: center;
                    margin-top: 10px;
                }
            }
        }
        .bottomPart {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            hr {
                border: none;
                border-top: 1px solid #cccccc;
            }
            button {
                border: 1px solid $azulOscuro;
                padding: 6px 15px;
                background: none;
                border-radius: 4px;
                margin: 10px;
                cursor: pointer;
                transition: all .1s;
                color: $azulOscuro;
                outline: 0;
                &:hover {
                    background-color: rgb(253, 236, 234);
                }
                label {
                    cursor: pointer;
                    @media(max-width: 768px) {
                        display: none;
                    }
                }
                img {
                    width: 20px;
                    height: 20px;
                    display: none;
                    cursor: pointer;
                    @media(max-width: 768px) {
                        display: block;
                    }
                }
                @media(max-width: 768px) {
                    padding: 10px;
                }
            }
        }
    }
    &.active {
        margin-left: -250px;
    }
}

a#openMenuIcon {
    position: absolute;
    top: 37px;
    margin-left: -20px;
    cursor: pointer;
    img {
        width: 20px;
    }
}

nav#horizontalMenu {
    position: absolute;
    top: 30px;
    right: 10px;
    /* background: tomato; */
    width: 83%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    ul {
        /*  background: blue; */
        display: flex;
        align-items: center;
        li {
            list-style: none;
            display: flex;
            align-items: center;
            a {
                text-decoration: none;
                display: flex;
                align-items: center;
                font-weight: 700;
                cursor: pointer;
                font-size: 15px;
                &:hover {
                    color: $azulOscuro;
                }
                img {
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    margin-left: 15px;
                    object-fit: cover;
                    object-position: center;
                }
            }
            #inputSearch {
                margin-right: 30px;
                border: 1px solid #9ba1a3;
                padding: 6px 0;
                display: flex;
                align-items: center;
                transition: all 1s;
                img {
                    width: 16px;
                    height: 16px;
                    margin: 0 10px;
                }
                input {
                    width: 100%;
                    height: 100%;
                    border: none;
                    background: transparent;
                    outline: 0;
                    font-family: 'Nunito', sans-serif;
                    font-weight: 700;
                    color: $azulOscuro;
                    padding-right: 12px;
                    &::placeholder {
                        font-family: 'Nunito', sans-serif;
                        color: #9ba1a3;
                    }
                }
                border-radius: 20px;
                &.active {
                    width: 400px;
                    transition: all 1s;
                }
            }
        }
    }
    #dropDownMenu {
        min-width: 250px;
        border-radius: 4px;
        margin-top: 8px;
        box-shadow: 0 0 0 1px rgba(111, 119, 130, .15), 0 5px 10px 0 rgba(21, 27, 38, .08);
        //box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
        //box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
        user-select: none;
        z-index: 9999;
        ul {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            li {
                list-style: none;
                width: 100%;
                border-top: 1px solid #e8ecee;
                a {
                    text-decoration: none;
                    display: block;
                    padding: 6px 10px;
                    width: 100%;
                    font-size: 14px;
                    font-weight: normal;
                    &:hover {
                        background: #e8ecee;
                    }
                }
                &:first-child {
                    border: none !important;
                }
            }
        }
    }
}


/* Estilos popup ajustes perfil */

div.overlayPopupProfileSettings {
    display: none !important;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(39, 50, 64, .6);
    z-index: 999;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    div#popupProfileSettings {
        min-width: 500px;
        background: $whiteColor;
        margin-top: 60px;
        border-radius: 5px;
        min-height: 30px;
        padding: 10px 0;
        .top {
            .close {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 25px;
                margin: 0;
                margin-bottom: 20px;
                h2 {
                    color: $azulOscuro;
                }
                i {
                    font-size: 18px;
                    cursor: pointer;
                    color: $azulOscuro;
                }
            }
            ul.menu {
                display: flex;
                justify-content: space-evenly;
                width: 100%;
                padding: 0 25px;
                li {
                    list-style: none;
                    a {
                        text-decoration: none;
                        display: block;
                        padding: 8px 0;
                        margin-bottom: 8px;
                        cursor: pointer;
                        color: $azulOscuro;
                        font-size: 14px;
                        font-weight: 700;
                        position: relative;
                        /* border: 1px solid red; */
                        &.active {
                            &::before {
                                content: '';
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                width: 100%;
                                height: 3px;
                                background: $primaryColor;
                                border-radius: 4px;
                            }
                        }
                    }
                }
            }
            hr {
                border: none;
                border-top: 1px solid #e8ecee;
            }
        }
    }
}