<!-- Llamamos al componente de notificaciones -->
<app-notificaciones [statusNotificacion]="statusNotificacion" [iconoNotificacion]="iconoNotificacion" [mensajeNotificacion]="mensajeNotificacion" [hidden]="mostrarNotificacion" (mostrarNotificacion)="ocultarNotificacion($event)" style="position: absolute; margin-top: 10px;"></app-notificaciones>

<div [hidden]="!flag" class="container">
    <h1>Introduce tu nueva contraseña</h1>
    <form [formGroup]="formularioResetClave" (ngSubmit)="validarClaveReset()">
        <div class="formField" [class.invalid]="!formularioResetClave.get('clave').valid && formularioResetClave.get('clave').dirty">
            <input type="password" formControlName="clave" placeholder="Nueva contraseña">
        </div>
        <div class="formField" [class.invalid]="!formularioResetClave.get('claveConfirm').valid && formularioResetClave.get('claveConfirm').dirty">
            <input type="password" formControlName="claveConfirm" placeholder="Confirmar contraseña">
        </div>
        <span *ngIf="formularioResetClave.hasError('notSame')" class="notMatch">
            Las contraseñas deben coincidir
        </span>
        <button type="submit" [disabled]="formularioResetClave.invalid">Cambiar clave</button>
        <p><a routerLink="/home">Volver al inicio</a></p>
    </form>
</div>