<!-- Página de home -->
<!-- Color acento: #009688 -->
<main id="mainContainerHome">
    <app-nota (evento)="obtenerTareas($event)"></app-nota>

    <div class="topPart">
        <h2>Todas las tareas</h2>
        <button id="addTareaButton"><i class="fas fa-plus"></i>Añadir Tarea</button>
    </div>

    <div id="allTasks">
        <div class="containerTasks">
            <!-- Contenedor tareas de hoy -->
            <div class="taskContainer" id="today">
                <div class="top">
                    <i class="fas fa-caret-right active"></i>
                    <p>Hoy</p>
                    <span id="todayTaskCount">({{todayTaskCount}})</span>
                </div>
                <div class="bottom active" [sortablejs]="listaTareasToday">
                    <div *ngFor="let todayTask of listaTareasToday" (click)="ampliarTarea(todayTask, $event)" class="task">
                        <div class="left">
                            <i class="fas fa-grip-vertical draggableIcon"></i>
                            <i class="far fa-check-circle" (click)="completeLeftButton(todayTask.id, $event.target)"></i>
                            <h4>{{ todayTask.titulo }}</h4>
                        </div>
                        <div class="right">
                            <span class="idNota">#{{ todayTask.id }}</span>
                            <img src="../../assets/uploads/{{ todayTask.usuario }}/{{ todayTask.imagen }}" alt="" class="imageUser">
                            <i class="fas fa-angle-right"></i>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Contenedor tareas de mañana -->
            <div class="taskContainer" id="tomorrow">
                <div class="top">
                    <i class="fas fa-caret-right"></i>
                    <p>Mañana</p>
                    <span id="tomorrowTaskCount">({{ tomorrowTaskCount }})</span>
                </div>
                <div class="bottom">
                    <div *ngFor="let tomorrowTask of listaTareasTomorrow" (click)="ampliarTarea(tomorrowTask, $event)" class="task">
                        <div class="left">
                            <i class="fas fa-grip-vertical draggableIcon"></i>
                            <i class="far fa-check-circle" (click)="completeLeftButton(tomorrowTask.id, $event.target)"></i>
                            <h4>{{ tomorrowTask.titulo }}</h4>
                        </div>
                        <div class="right">
                            <span class="idNota">#{{ tomorrowTask.id }}</span>

                            <img src="../../assets/uploads/{{ tomorrowTask.usuario }}/{{ tomorrowTask.imagen }}" alt="" class="imageUser">
                            <i class="fas fa-angle-right"></i>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Contenedor de próximas tareas -->
            <div class="taskContainer" id="next">
                <div class="top">
                    <i class="fas fa-caret-right"></i>
                    <p>Próximas tareas</p>
                    <span id="nextTaskCount">(0)</span>
                </div>
                <div class="bottom"></div>
            </div>
        </div>

        <!-- Contenedor para ver las tareas en detalle -->
        <div class="containerViewTask" *ngIf="show">
            <div class="topNote">
                <button class="completedButton" id="completedButton" (click)="completed(tareaSeleccionada.id)">Completar <!-- <i class="fas fa-check"></i> --> <img src="../../assets/images/comprobar.svg" alt=""></button>
                <div class="right">
                    <i class="far fa-trash-alt" id="eliminarTarea" title="Eliminar tarea" (click)="eliminarTarea(tareaSeleccionada['id'])"></i>
                    <img src="../../assets/images/crossButton.svg" alt="" class="closeTaskButton" (click)="show = !show">
                    <!--  <i class="fas fa-times" (click)="show = !show"></i> -->
                </div>
            </div>
            <div class="middle">
                <div class="top">
                    <!--   <p>#108</p> -->
                    <h2 contenteditable="true" (focusout)="editarTitulo(tareaSeleccionada.id)">{{ tareaSeleccionada.titulo }}</h2>
                </div>
                <div class="creadorContainer">
                    <p>Responsable</p>
                    <div class="creador">
                        <img src="../../assets/uploads/{{ tareaSeleccionada.usuario }}/{{ tareaSeleccionada.imagen }}" alt="">
                        <p>{{ tareaSeleccionada.usuario }}</p>
                        <i class="fas fa-times-circle"></i>
                    </div>
                </div>
                <div class="fechaEntregaContainer">
                    <p>Fecha de entrega</p>
                    <label for="customDataField" class="fecha">
                        <i class="far fa-calendar"></i>
                        <p>{{ returnDate(tareaSeleccionada.fecha) }}</p>
                        <i class="fas fa-times-circle"></i>
                    </label>
                    <!-- Input fecha para seleccionar otra fecha -->
                    <!-- <input type="text" id="customDataField"> -->
                </div>
                <div class="contenedorAsignadas">
                    <p>Participantes</p>
                    <div class="subContenedorAsignadas">
                        <div class="personasAsignadas" id="personasAsignadas">
                            <div class="asignada" *ngFor="let asignada of tareaSeleccionada.colaboradores">
                                <img src="../../assets/uploads/{{asignada.usuario}}/{{asignada.imagen}}" alt="">
                                <i class="fas fa-times-circle" title="Eliminar usuario" (click)="eliminarParticipanteExtra(tareaSeleccionada.id, asignada.id)"></i>
                            </div>
                            <div class="asignar" title="Añadir participante" id="agregarParticipanteButton" (click)="open($event)">
                                <!--  <i class="far fa-user"></i> -->
                                <i class="fas fa-plus"></i>
                            </div>
                        </div>
                        <form method="POST" class="contenedorAddPersonas" id="contenedorAddPersonas" [formGroup]="formularioAddParticipante" (ngSubmit)="agregarParticipanteExtra(tareaSeleccionada['id'])">
                            <div class="top">
                                <small>Introduce el email de la persona que quieras agregar <i class="fas fa-times" (click)="closePopup()"></i></small>
                            </div>
                            <div class="addFields">
                                <input type="text" placeholder="Email" formControlName="usuario">
                                <button type="submit">Añadir</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="descripcion">
                    <p>Descripción</p>
                    <p contenteditable="true" id="descripcionTarea" (focusout)="editarDescripcion(tareaSeleccionada.id)">{{ tareaSeleccionada.descripcion }}</p>
                </div>
                <div class="comentarios">
                    <div class="comentario" *ngFor="let comentario of tareaSeleccionada.comentarios">
                        <div class="top">
                            <div>
                                <img src="../../assets/uploads/{{comentario.usuario}}/{{comentario.imagen}}" alt="">
                                <div class="right">
                                    <p>{{ comentario.usuario }}</p>
                                    <span>{{ comentario.fecha }}</span>
                                </div>
                            </div>
                            <i class="far fa-times-circle" title="Eliminar comentario" (click)="eliminarComentario($event, tareaSeleccionada.id, comentario.id)"></i>
                        </div>
                        <p>{{ comentario.comentario }}</p>
                    </div>
                </div>
            </div>
            <div class="bottom">
                <form method="POST" class="formularioAddComentario" [formGroup]="formularioAddComentario" (ngSubmit)="insertarComentario(tareaSeleccionada['id'])">
                    <textarea placeholder="Realiza un comentario" formControlName="comentario"></textarea>
                    <div class="right">
                        <button type="submit">Comentar</button>
                        <div class="textEditor">
                            <i class="fas fa-link"></i>
                            <i class="fas fa-bold"></i>
                            <i class="fas fa-underline"></i>
                            <i class="fas fa-italic"></i>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>